// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

@font-face {
  font-family: "Therace-0W0pG";
  src: font-url('Therace-0W0pG.ttf');
}
$my-font: "Therace-0W0pG";

@font-face {
  font-family: "TAGACNRG";
  src: font-url('TAGACNRG.ttf');
}
$my-font: "TAGACNRG";

@font-face {
  font-family: "ArchitectsDaughter-Regular";
  src: font-url('ArchitectsDaughter-Regular.ttf');
}
$my-font: "ArchitectsDaughter-Regular";

@font-face {
  font-family: "ReggaeOne-Regular.ttf";
  src: font-url('ReggaeOne-Regular.ttf');
}
$my-font: "ReggaeOne-Regular.ttf";