// Import page-specific CSS files here.
@import "home";
@import "new";
@import "show";
@import "super_heros_index";

.navbar-margin-bottom-login {
  margin-top: 200px;
}

.navbar-margin-bottom-signup {
  margin-top: 100px;
}

.navbar-margin-bottom-forgotpwd {
  margin-top: 200px;
}

.navbar-margin-bottom-card {
  margin-top: 250px;
}

.navbar-margin-bottom-show {
  margin-top: 150px;
  margin-bottom: 100px;
}

body {
  background: linear-gradient(to left,#ca2115, #2b2ec5);
}
