// Import page-specific CSS files here.
@import "home";
@import "new";

.navbar-margin-bottom-login {
  margin-top: 200px;
}

.navbar-margin-bottom-signup {
  margin-top: 100px;
}

.navbar-margin-bottom-forgotpwd {
  margin-top: 200px;
}

.navbar-margin-bottom-card {
  margin-top: 250px;
}