<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <h1>Book your hero</h1>

      <%= link_to "Let's go!", new_user_booking_path, class: 'btn btn-primary' %>
    </div>

  </div>
</div>