<footer class="fixed-bottom">
  <div class="ml-3">
    <div class="row">
      <div class="form-inline">
        <h5 class="text-uppercase">Register for free</h5>
        <p><%= link_to 'Sign up', new_user_registration_path %></p>
      </div>

      <div>
        <h5 class="text-uppercase">Follow us</h5>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus-g"></i>
      </div>

      <div>
        © 2021 Copyright:
        <a href="#">LaPassion.com</a>
      </div>
    </div>
  </div>


</footer>
