<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Super Heros</h1>
        <% @super_heros.each do |super_hero| %>
          <p><%= link_to super_hero.nickname, user_super_heros_path(super_hero) %></p>
          <p><%= super_hero.description %></p>
        <% end %>
    </div>
  </div>
    <%= link_to 'Create Super Hero',  new_user_super_hero_path %>
</div>
