<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Super Heros</h1>
        <%  @super_heros.each do |super_hero| %>
          <p>
            <%= link_to super_hero.nickname, restaurant_path(restaurant) %>
          </p>
        <% end %>
    </div>
  </div>
</div>