<div class="banner">
  <div class="container">
    <h1> My Rental Hero</h1>
    <h2 class="mb-5">If there's something strange in your neighborhood...<br>
        Who you gonna call ?</h2>
    <p><%= link_to 'Our Heroes !', super_heros_path, class: 'btn-hero btn-lg' %></p>
  </div>
</div>

