<div class="banner">
  <div class="container">
    <h1> My Rental Hero</h1>
    <h2>If there's something strange in your neighborhood...<br>
        Who you gonna call ?</h2>
    <%= link_to 'Our Heroes !', user_super_heros_path(:user_id), class: 'btn-hero btn btn-success btn-lg' %>
  </div>
</div>

