<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= image_path "banner.jpg" %>);">
  <div class="container">
    <h1> My Rental Hero</h1>
    <h2 class="mb-5">Aucune tâche n'est insurmontable pour un héros !<br>
        Tout est dans la manière de l'accomplir !<br>
        Lequel allez-vous choisir ?</h2>
    <p><%= link_to 'Nos Héros !', super_heros_path, class: 'btn-hero btn-lg' %></p>
  </div>
</div>

