<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= image_path "banner.jpg" %>);">
  <div class="container">
    <h1> My Rental Hero</h1>
    <h2 class="mb-5">If there's something strange in your neighborhood...<br>
        Who you gonna call ?</h2>
    <p><%= link_to 'Nos Héros !', super_heros_path, class: 'btn-hero btn-lg' %></p>
  </div>
</div>

