<div class="banner">
  <div class="container">
    <p>Change your life, rent a Hero !!!</p>
    <%= link_to 'See all Heros!', user_super_heros_path(:user_id), class: 'btn btn-success btn-lg' %>
  </div>
</div>

<div class="container">
  <div class="card-product">
    <%= image_tag "canard_man.jpg", alt: "Canard-man", :class => 'card-img' %>
    <!--   -->
    <!-- <img src="app/assets/images/canard_man.jpg"> -->
    <div class=card-product-info>
      <h2 class="card-title">Canard-man</h2>
      <div class="card-text">
        <p>The yellow hero</p>
      </div>
    </div>
  </div>
</div>
