<div class="banner">
  <div class="container">
    <h1>Heros Renter</h1>
    <p>Change your life, rent a Hero !!!</p>
    <a class="btn btn-success btn-lg" href="#">Rent Now</a>
    <%= link_to 'See all Heros!', super_heros_path, class: 'btn btn-success btn-lg' %>
  </div>
</div>

<div class="container">
  <div class="card-product">
    <%= image_tag "canard_man.jpg", alt: "Canard-man", :class => 'card-img' %>
    <!-- <img src="app/assets/images/canard_man.jpg"> -->
    <div class=card-product-info>
      <h2 class="card-title">Canard-man</h2>
      <p class="card-text">The yellow hero</p>
    </div>
  </div>
</div>
