.card-booking{
    width: 280px;
	height: 240px;
    background: rgba(32,16,16,0.5);
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	padding: 20px;
	position: relative;
    margin: 30px;
    font-family: "ReggaeOne-Regular.ttf";
}

.booking-show h1{
    color: #22b4b4;
    padding: 30px;
	position: relative;
    font-size: 24px;
    text-align: left;
    font-family: "ReggaeOne-Regular.ttf";
}

.booking-date{
    color: #22b4b4;
}

.super-hero-booked{
    font-family: 'Therace-0W0pG', 'Helvetica', sans-serif;
    color: #f3d423;
    font-size: 24px;
    font-weight: bold;
}

.booking-price{
    color: #22b4b4;
}
