.card-product {
  background-color: white;
  height: 400px;
  width: 300px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
  position: relative;
  border-radius: 5px;
}

.card-img {
  height: 400px;
  width: 300px;
  top: 0px;
  right: 0px;
  object-fit: cover;
  position: absolute;
  border-radius: 5px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #4ADD88;
  opacity: 1;
}

.card-text {
  font-size: 12px;
  line-height: 1.4;
  margin: 8px 0 0;
  text-align: justify;
  color: #4ADD88;
  opacity: 1;
  p {
    display: none;
  }
}

.card-product-info {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  background-color: black;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
  opacity: 0.4;
}

.card-product-info:hover {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0 20px 20px rgba(0,0,0,1);
  opacity: 0.4;
  border-radius: 5px;
  background-color: black;
  p {
    display: block;
  }
}
