// 
/*CARD*/

.card-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.navbar-margin-bottom-card{
  background: linear-gradient(to left,#ca2115, #2b2ec5);
}

.card{
	width: 350px;
	height: 350px;
	background: rgba($color: #201010, $alpha: 0.5);
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	padding: 20px;
	position: relative;
  margin: 30px;
}

.avatar{
	width: 125px;
	height: 187px;
	position: absolute;
	border-radius: 4px;
	top: 10px;
	right: 10px;
}

.description{
	position: absolute;
	bottom: 20px;
  // right: 5px;
	font-size: 15px;
	color: rgba(0,0,0,0.5);
	text-align: center;
	width: 300px;
  font-style: italic;
}

.hero_name{
  font-family: 'Therace-0W0pG', 'Helvetica', sans-serif;
	color: #f3d423;
	font-size: 56px;
  position: absolute;
  top: 10px;
  left: 10px;
}


.description{
	color: #f3d423;
	font-size: 20px;
}

// CARD HOVER
.card:hover{
	transition: all 0.5s ease;
	background: rgba($color: #f3d423, $alpha: 1);
	
}

.card:hover .hero_name{
	color: black;
}

// .card:hover p{
// 	color: white;
// }
.card:hover .description{
	color: black;
}

.avatar:hover {
	transition: 1s;
  width: 220px;
  height: 330px;
}
