/*CARD*/
.card-container-show {
  display: flex;
  justify-content: center;
  flex-wrap : wrap;
}

.card-container{
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar-margin-bottom-card{
    background: linear-gradient(to left,#ca2115, #2b2ec5);
}

.card{
	width: 350px;
	height: 350px;
	background: rgba($color: #201010, $alpha: 0.5);
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	padding: 20px;
	position: relative;
  	margin: 8px;
}

.avatar{
	width: 125px;
	height: 187px;
	position: absolute;
	border-radius: 4px;
	top: 10px;
	right: 10px;
	opacity: 0.7;
}

.punchline{
	position: absolute;
	bottom: 20px;
	font-size: 15px;
	color: rgba(0,0,0,0.5);
	text-align: center;
	width: 300px;
  font-style: italic;
  color: #f3d423;
  font-size: 20px;
}

.hero_name{
  font-family: 'Therace-0W0pG', 'Helvetica', sans-serif;
	color: #f3d423;
	font-size: 56px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.price {
  font-family: "ArchitectsDaughter-Regular";
  font-size: 64px;
  position: relative;
  top: 120px;
  left: 10px;
  color: #f3d423;
}

// CARD HOVER
.card:hover{
	transition: all 0.5s ease;
	background: rgba($color: #f3d423, $alpha: 1);
}

.card:hover .hero_name{
	color: black;
}

.card:hover .price {
  color: black;
}

.card:hover .punchline{
	color: black;
}

.avatar:hover {
	opacity: 1;
	transition: 1s;
  width: 220px;
  height: 330px;
}
