.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "ReggaeOne-Regular.ttf";
}

.heros {
  font-family: 'Therace-0W0pG', 'Helvetica', sans-serif;
}
