.navbar {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.logo_navbar {
  cursor: pointer;
}

.user_loggin {
  margin-right: 40px;
  font-size: 20px;
  font-family: 'TAGACNRG', 'Helvetica', sans-serif;
  color: #1EDD87;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-nav {
  font-family: 'TAGACNRG', 'Helvetica', sans-serif;
  border-radius: 4px;
}
