.navbar {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.logo_navbar {
  cursor: pointer;
  position: relative;
}

.user_loggin {
  position: absolute;
  margin-left: -120px;
  font-size: 20px;
  color: #1EDD87;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
